@import "src/client/styles/variables";

.lpZone1{
  width: 100%;
  height: auto;
  padding: 5% 0;

  .logo{
    width: 40%;
    height: 50%;
    display: flex;
    margin: 0 auto;

    .logoImg{
      width: 100%;
      height: 20%;
    }
  }
  .txtWoman{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .womanSitDiv{
      width: 30%;
      height: 80%;
      display: flex;
      margin: 10vh 0;

      .womanSitImg{
        margin: 5%;
      }
    }
    .txt{
      width: 70%;
      height: auto;
      display: inline;

      .txtQuestionInstit{
        font-size: $p1;
        color: $black;

        .txtQuestionInstitSpan{
          color: $orange;
        }
      }
      .txtQuestionInspi{
        font-size: $p2;
        color: $black;
        .txtQuestionInspiSpan{
          color: $orange;
        }
      }
      .btnInscription{
        font-size: 27px;
        border-radius: 20px;
        color: $white;
        background-color: #F96F5D;
        border: 0px;
      }
      .redirectConnection{
        color: #FFFFFF;
        box-shadow: 2px 2px 2px gray;
      }
    }
  }
}